.fotoServicios {
  height: 480px;
  width: 854px;
  border-radius: 1rem;
}

.tituloTarjeta {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.textoTarjeta {
  display: flex;
  text-align: center;
  padding: 0.5rem;
}
